@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --dark-blue: #122c34;
  --mild-blue: #224870;
  --blue-blue: #2a4494;
  --light-blue: #4ea5d9;
  --water-blue: #44cfcb;
  --text-white: #fff;
  --gold: #dbae25;
  --heart-red: rgb(223, 2, 2);
  --count-hover: rgb(179, 4, 4);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  width: 100%;
  padding: 2rem 0;
  background-color: var(--dark-blue);
  border-bottom: var(--mild-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 3rem;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--gold);
}

.logo:hover {
  text-decoration: underline;
}

.nav {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  column-gap: 1rem;
  margin-left: 1rem;
}

.nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  column-gap: 1rem;
}

.nav-item a {
  font-size: 1.2rem;
  color: var(--text-white);
  text-decoration: none;
}

.nav-item a:hover {
  color: var(--gold);
}

.nav-item {
  color: var(--heart-red);
}

.nav-item:hover {
  color: var(--count-hover);
}

#search {
  padding: 0.7rem;
  border-radius: 0.5rem;
  border: 0;
}

main {
  width: 100%;
  height: 100%;
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.section-titles {
  width: 80%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.section-titles > * {
  color: var(--dark-blue);
  cursor: pointer;
  font-size: 1rem;
}

.section-titles > *::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--gold);
  transition: width 0.4s;
}

.section-titles > *:hover::after {
  width: 100%;
}

.main-content-wrap {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#request {
  display: none;
}

.listings {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
}

.listing {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.listing:hover {
  border: 1px solid lightgray;
}

.listing img {
  width: 100%;
}

.listing-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.listing-title h3 {
  font-size: 1rem;
}

.listing-title small {
  font-size: 0.7rem;
}

.likes-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.like-btn {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-image: url(./heart-unshaded.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.like-btn:hover {
  width: 30px;
  height: 30px;
  background-image: url(./heart-shaded1.svg);
}

.comments {
  width: 60%;
  padding: 5px 10px;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.656);
  margin: 10px auto;
}

.popup-wrap {
  padding-block: 40px;
  position: absolute;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  backdrop-filter: blur(20px);
}

.popup-close-btn {
  position: absolute;
  top: 40px;
  right: 10px;
}

.popup-img {
  width: 50%;
  max-width: 400px;
}

.popup-details {
  width: 100%;
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem; 
}

.bolden {
  font-weight: 700;
}

footer {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  background-color: var(--dark-blue);
  color: var(--text-white);
}
