* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
header {
  width: 100%;
  height: 10%;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
} */

main {
  width: 80%;
  height: 80%;
}

.listings {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

.listing img {
  width: 100%;
}

.listing-title {
  font-size: 1rem;
  display: flex;
  gap: 5px;
}

.likes-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.like-btn {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-image: url(./heart-unshaded.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.like-btn:hover {
  width: 30px;
  background-image: url(./heart-shaded1.svg);
}
